@charset "UTF-8";

:root {
  --color333: #333;
  --color555: #555;
  --color777: #777;
  --color999: #999;
  --mainColor: #623ad6;
  --errorColor: #f96464;
  --ongolingColor: #00b19c;
  --holdColor: #514474;
  --whiteColor: #fff;
  --fontBold: bold;
  --fontMedium: normal;
  --bgGray: #faf9f9;
  --bgEee: #eee;
}

.container__inner {
  position: relative;
  height: 100%;
  max-width: 1304px;
  padding: 0 50px;
  margin: 0 auto;
}

.container__banner {
  position: relative;
  display: block;
  height: 900px;
  margin-top: 130px;
}

