@charset "UTF-8";

:root {
  --color333: #333;
  --color555: #555;
  --color777: #777;
  --color999: #999;
  --mainColor: #623ad6;
  --errorColor: #f96464;
  --ongolingColor: #00b19c;
  --holdColor: #514474;
  --whiteColor: #fff;
  --fontBold: bold;
  --fontMedium: normal;
  --bgGray: #faf9f9;
  --bgEee: #eee;
}

.container__inner {
  position: relative;
  height: 100%;
  max-width: 1304px;
  padding: 0 50px;
  margin: 0 auto;
}

.container__banner {
  position: relative;
  display: block;
  height: 900px;
  margin-top: 130px;
}

.container__banner .container__inner {
  position: relative;
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}

.container__banner .text-wrap {
  width: 50%;
}

.container__banner h2.text-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.2;
}

.container__banner p.text-sub-title {
  margin-bottom: 20px;
}

.container__banner a {
  display: inline-block;
  background-color: var(--mainColor);
  width: 180px;
  padding: 14px 27px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.container__banner a:hover {
  background-color: var(--holdColor);
  text-decoration: underline;
}

.container__banner .img-wrap {
  position: absolute;
  top: -30px; right: -50%;
  width: calc(100% - 100px);
  text-align: center;
}

.container__banner .img-wrap.okr { top: 150px; right: -42%; }
img.okr-pc { display: block; }
img.okr-mobile { display: none; }

.container__banner .img-wrap.security { top: 150px; right: -30%; }

@media screen and (max-width: 1024px) {
  .container__banner { height: auto; margin-top: 100px; padding: 40px 0 80px; }
  .container__banner .container__inner { flex-direction: column; align-items: flex-start; }
  .container__banner .text-wrap { width: 100%; }
  .container__banner h2.text-title { font-size: 30px; }
  br.for-pc { display: none; }
  .container__banner p.text-sub-title br { display: none; } 
  /* br.for-pc 항목 업데이트 필요 */
  .container__banner .img-wrap { position: static; margin-top: 80px; width: 100%; }
  .container__banner .img-wrap img { width: 100%; }
  .okr-pc { display: none; }
  .okr-mobile { display: block; }
}

@media screen and (max-width: 640px) {
  .container__inner { padding: 0 20px; }
}
/* container__banner (content-0) end */

article { 
  position: relative;
  display: block;
  width: 100%; height: 650px;
  overflow: hidden;
}
article:nth-child(odd) { background: #fff; }
article:nth-child(even) { background: #f5f4f9; }

.contents-wrap {
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}
article:nth-of-type(odd) .contents-wrap { flex-direction: row-reverse; }
article:nth-of-type(even) .contents-wrap { flex-direction: row; }


.contents-wrap .img-wrap {
  position: relative;
  bottom: -165px;
  width: 100%;
  text-align: center;
}
article:nth-of-type(odd) .contents-wrap .img-wrap { left: auto; right: -160px; }
article:nth-of-type(even) .contents-wrap .img-wrap { left: -145px; right: auto; }
.contents-wrap .img-wrap.okr { bottom: -50px; width: auto; }
.contents-wrap .img-wrap.video,
.contents-wrap .img-wrap.security { left: 0px; bottom: 0px; }
.contents-wrap .img-wrap img { max-width: 100%; }


.contents-wrap .text-wrap { width: 50%; }
.contents-wrap .text-wrap h2.text-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 44px;
}
.contents-wrap .text-wrap .text-content {
  width: 400px;
  margin-bottom: 40px;
}


@media screen and (max-width: 1024px) {
  article { height: auto; padding: 80px 0; }
  article:nth-of-type(odd) .contents-wrap { flex-direction: column; }
  article:nth-of-type(even) .contents-wrap { flex-direction: column-reverse; }
  .contents-wrap .img-wrap { position: static; margin: 0 auto; }
  .contents-wrap .img-wrap img { height: 100%; }
  .contents-wrap .text-wrap { width: 100%; }
  article:nth-of-type(odd) .contents-wrap .text-wrap { margin-top: 40px; }
  article:nth-of-type(even) .contents-wrap .text-wrap { margin-bottom: 40px; }
  .contents-wrap .text-wrap h2.text-title { margin-top: 0px; font-size: 20px; line-height: 30px; }
  .contents-wrap .text-wrap .text-content { width: auto; font-size: 16px; margin-top: 1em; margin-bottom: 0px; }
}

@media screen and (max-width: 900px) {
  .contents-wrap .img-wrap img { width: 100%; height: auto; }
}
/* contents end */

.container__businessBanner {
  height: 400px !important;
  background: url(../../public/images/businessBanner.jpg) no-repeat center center / cover;
}
.container__businessBanner .cover {
  position: relative;
  top: -76px;
  width: 100%; height: 400px;
  padding: 76px 0;
  background: rgba(0, 0, 0, 0.5);
}
.flow-symbols { margin: 0; }
.container__businessBanner .text p.text-subtitle {
  text-align: left;
  font-weight: 500;
}
.container__businessBanner .text a {
  display: block;
  width: 210px; height: 52px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}
.container__businessBanner .text a:hover { background: rgba(255, 255, 255, 0.15); }
.container__businessBanner .text a>i {
  top: 16px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .container__businessBanner .cover { top: -83px; }
  .flow-symbols { width: 160px; }
  .flow-symbols>i { width: 16px; height: 16px; }
  .container__businessBanner .text p.text-subtitle { margin: 30px 0; font-size: 18px; line-height: 26px !important; }
}
/* business banner end */

/* security-list */
section.security-list { 
  height: auto; 
  padding: 150px 0; 
}
.security-list ul {
  display: flex;
  justify-content: space-between; align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
.security-list ul li { width: 278px; }
.security-list ul li strong {
  display: block;
  margin: 20px 0 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

@media screen and (max-width: 1024px) { 
  section.security-list { padding: 80px 0; }
  .security-list ul { display: block; margin: 0; }
  .security-list ul li { width: 100%; margin-top: 40px; }
  .security-list ul li i { display: block; width: 100px; height: 100px; }
  .security-list ul li i>img { width: 100%; }
}
/* security-list end */


article.certification,
article.privacy,
article.cloud-service {
  height: auto;
  padding: 150px 0;
}

.certification .contents-wrap,
.privacy .contents-wrap,
.cloud-service .contents-wrap { display: block; }
.certification .text-wrap,
.privacy .text-wrap,
.cloud-service .text-wrap { width: 100%; }

ul.card-wrap {
  display: flex; flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
ul.card-wrap li {
  width: calc(50% - 20px);
  padding: 60px 50px;
  margin: 0 auto;
  margin-top: 20px;
  background: #f5f4f9;
  border-radius: 20px;
  text-align: center;
  line-height: 1.6;
}
ul.card-wrap li h3 {
  font-size: 20px;
  font-weight: var(--fontBold);
}
ul.card-wrap li p { font-size: 15px; }
ul.card-wrap li a {
  display: block;
  color: var(--mainColor);
  text-decoration: underline;
}

.privacy ul.card-wrap li { 
  width: calc(33.3% - 20px); 
  padding: 30px 30px 40px;
  margin-top: 40px;
  background: #fff; 
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  text-align: left; 
}
.privacy ul.card-wrap li h3 { margin-top: 40px; }
.privacy ul.card-wrap li a { margin-top: 40px; }

.cloud-service .card {
  display: flex;
  justify-content: space-between; align-items: center;
  width: 100%;
  padding: 0 70px;
  margin-top: 40px;
  border-radius: 20px;
  background: #f5f4f9;
}

.cloud-service .card ul { width: 100%; }

.cloud-service .card ul li {
  display: flex;
  margin-top: 10px;
}
.cloud-service .card ul li .text {
  margin-left: 10px;
}

.cloud-service .card ul li h3 {
  font-size: 20px;
  font-weight: var(--fontBold);
}
.cloud-service .card ul li p {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  article.certification,
  article.privacy,
  article.cloud-service { padding: 80px 0; }
  ul.card-wrap li,
  .privacy ul.card-wrap li { width: 100%; }
  .cloud-service .card { flex-direction: column; padding: 40px 30px; }
  .cloud-service .card ul li { margin: 0; }
  .cloud-service .card ul li:last-child { margin-top: 40px; }
}
