section.security-list { 
  height: auto; 
  padding: 150px 0; 
}
.security-list ul {
  display: flex;
  justify-content: space-between; align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
.security-list ul li { width: 278px; }
.security-list ul li strong {
  display: block;
  margin: 20px 0 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

@media screen and (max-width: 1024px) { 
  section.security-list { padding: 80px 0; }
  .security-list ul { display: block; margin: 0; }
  .security-list ul li { width: 100%; margin-top: 40px; }
  .security-list ul li i { display: block; width: 100px; height: 100px; }
  .security-list ul li i>img { width: 100%; }
}