article.cloud-service {
  height: auto;
  padding: 150px 0;
}

.cloud-service .contents-wrap { display: block; }
.cloud-service .text-wrap { width: 100%; }

ul.card-wrap {
  display: flex; flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
ul.card-wrap li {
  width: calc(50% - 20px);
  padding: 60px 50px;
  margin: 0 auto;
  margin-top: 20px;
  background: #f5f4f9;
  border-radius: 20px;
  text-align: center;
  line-height: 1.6;
}
ul.card-wrap li h3 {
  font-size: 20px;
  font-weight: var(--fontBold);
}
ul.card-wrap li p { font-size: 15px; }
ul.card-wrap li a {
  display: block;
  color: var(--mainColor);
  text-decoration: underline;
}

.cloud-service .card {
  display: flex;
  justify-content: space-between; align-items: center;
  width: 100%;
  padding: 0 70px;
  margin-top: 40px;
  border-radius: 20px;
  background: #f5f4f9;
}

.cloud-service .card ul { width: 100%; }

.cloud-service .card ul li {
  display: flex;
  margin-top: 10px;
}
.cloud-service .card ul li .text {
  margin-left: 10px;
}

.cloud-service .card ul li h3 {
  font-size: 20px;
  font-weight: var(--fontBold);
}
.cloud-service .card ul li p {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  article.cloud-service { padding: 80px 0; }
  ul.card-wrap li { width: 100%; }
  .cloud-service .card { flex-direction: column; padding: 40px 30px; }
  .cloud-service .card ul li { margin: 0; }
  .cloud-service .card ul li:last-child { margin-top: 40px; }
}
